@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* ライトモード: 必ず「#」から始まるカラーコードにする */
  --background: #ffffff;
  --foreground: #171717;
  
  --text-main: #111827;
  --text-muted: #4b5563;
  
  --primary: #2563eb;
  --secondary: #7c3aed;
  
  --header-bg: rgba(5, 5, 5, 0.4);
  --footer-bg: #434e815e;
  --border-color: #e5e7eb;

    /* 追加: カードやサイドバーの背景色（ライトモードは薄いグレー） */
  --card-bg: rgba(230, 230, 230, 0.5);
}

.dark {
  /* ダークモード: 必ず「#」から始まるカラーコードにする */
  --background: #050505;
  --foreground: #ffffff;
  
  --text-main: #f3f4f6;
  --text-muted: #9ca3af;
  
  --primary: #3b82f6;
  --secondary: #8b5cf6;
  
  --header-bg: rgba(150, 150, 150, 0.4);
  --footer-bg: #111827;
  --border-color: #27272a;

    /* 追加: カードやサイドバーの背景色（ダークモードは半透明の白） */
  --card-bg: rgba(50, 50, 50, 0.5);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s; /* スムーズな切り替え */
}

/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 100, 100, 100;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */